<ul id="links" class="align-right">
  <li>Find Me:</li>
  <li><a href="https://github.com/penguinstampede" target="_blank" title="Follow me on GitHub"><i class="fa fa-github"></i> <span>penguinstampede</span></a></li>
  <li><a href="https://twitter.com/penguinstampede" target="_blank" title="Follow me on Twitter"><i class="fa fa-twitter"></i> <span>@penguinstampede</span></a></li>
  <li><a href="https://www.linkedin.com/in/ekosewic" target="_blank" title="Connect on LinkedIn"><i class="fa fa-linkedin"></i> <span>linkedin.com/in/ekosewic</span></a></li>
  <li><a href="mailto:erin@penguinstampede.com" title="Email Me"><i class="fa fa-envelope-o"></i> <span>erin@penguinstampede.com</span></a></li>
</ul>
